* {
  padding: 0;
  margin: 0;
}

.menu-btn {
  position: absolute;
  z-index: 2;
  right: 3.4rem;
  top: 0.9rem;
  height: 3px;
  width: 20px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #ddd;
}

.menu-btn_burger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #ddd;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 26px;
  height: 3px;
  background: #ddd;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu-btn_burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn_burger.open::after {
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 1rem;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
  z-index: 1;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #0B132B;
  list-style-type: none;
  padding-right: 1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav .menu-nav_item {
  -webkit-transform: translatex(100vw);
          transform: translatex(100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav_item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menu-nav_item.active > a {
  color: #0B132B;
}

.nav .menu-nav_link {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav_link:hover {
  color: #6FFFE9;
}

* {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .center {
    z-index: 3;
  }
  .center_signup {
    z-index: 3;
  }
  .menu-btn {
    visibility: hidden;
    z-index: 0;
  }
  .nav {
    visibility: visible;
    z-index: 0;
  }
  .nav .menu-nav {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 100vw;
    display: flow-root;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background: transparent;
    text-align: right;
  }
  .nav .menu-nav_item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav_link {
    font-size: 1rem;
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  background: #0B132B;
  border-radius: 10px;
}

.center h1 {
  text-align: center;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid #6FFFE9;
}

.center form {
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.center form .txt_field {
  position: relative;
  border-bottom: 1px solid #adadad;
  margin: 30px 0;
}

.center form .txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 2rem;
  border: none;
  background: none;
  outline: none;
  color: #ddd;
}

.center form .txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #ddd;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
}

.center form .txt_field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #6FFFE9;
}

.center form .txt_field input:focus ~ label,
.center form .txt_field input:valid ~ label {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: -5px;
  color: #6FFFE9;
}

.center form .txt_field input:focus ~ span,
.center form .txt_field input:valid ~ span {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.center .forgot_pass {
  margin: -5px 0 20px 5px;
  color: #ddd;
  cursor: pointer;
}

.center .forgot_pass:hover {
  text-decoration: underline;
}

.center .submit {
  width: 100%;
  height: 45px;
  border: 1px solid;
  border-radius: 25px;
  font-size: 1.5rem;
  background: #c7c2c2;
  color: #0B132B;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.center .submit:hover {
  background: #6FFFE9;
  color: #0B132B;
}

.center .signup_link {
  margin: 30px 0;
  text-align: center;
  font: 1rem;
  color: #ddd;
}

.center .signup_link a {
  color: #6FFFE9;
  text-decoration: none;
}

.center .signup_link a:hover {
  text-decoration: underline;
}

.center_signup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 500px;
  background: #0B132B;
  border-radius: 10px;
}

.center_signup h1 {
  text-align: center;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid #6FFFE9;
}

.center_signup form {
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.center_signup form .txt_field {
  position: relative;
  border-bottom: 1px solid #adadad;
  margin: 30px 0;
}

.center_signup form .txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 2rem;
  border: none;
  background: none;
  outline: none;
  color: #ddd;
}

.center_signup form .txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #ddd;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
}

.center_signup form .txt_field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #6FFFE9;
}

.center_signup form .txt_field input:focus ~ label,
.center_signup form .txt_field input:valid ~ label {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: -5px;
  color: #6FFFE9;
}

.center_signup form .txt_field input:focus ~ span,
.center_signup form .txt_field input:valid ~ span {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.center_signup .forgot_pass {
  margin: -5px 0 20px 5px;
  color: #ddd;
  cursor: pointer;
}

.center_signup .forgot_pass:hover {
  text-decoration: underline;
}

.center_signup .submit {
  width: 100%;
  height: 45px;
  border: 1px solid;
  border-radius: 25px;
  font-size: 1.5rem;
  background: #c7c2c2;
  color: #0B132B;
  cursor: pointer;
  outline: none;
  margin-bottom: 1rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.center_signup .submit:hover {
  background: #6FFFE9;
  color: #0B132B;
}

.center_signup .signup_link {
  margin: 30px 0;
  text-align: center;
  font: 1rem;
  color: #ddd;
}

.center_signup .signup_link a {
  color: #6FFFE9;
  text-decoration: none;
}

.center_signup .signup_link a:hover {
  text-decoration: underline;
}

* {
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: #c7c2c2;
  color: #ddd;
  height: 100vh;
  line-height: 1rem;
  overflow: hidden;
}

header {
  background-color: #0B132B;
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1.5rem;
}

a {
  text-decoration: none;
  color: #ddd;
}

main {
  height: 100%;
  width: 100%;
}

footer {
  font-size: 1rem;
  color: #ddd;
  width: 100%;
  padding: 1rem;
  z-index: 1;
  bottom: 0.1rem;
  position: fixed;
  background-color: #0B132B;
}
/*# sourceMappingURL=style.css.map */