
@model HotelReservationsManager.Models.Reservation.ReservationViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="center_view">

    <h1>Edit Reservation</h1>
    <hr />
    <form asp-action="Edit" asp-controller="Reservations" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="txt_field">
            <input asp-for="RoomViewModel.Id" required type="text" />
            <span asp-validation-for="RoomViewModel.Id"></span>
            <label > Room</label>
        </div>
        <div class="txt_field">
            <input asp-for="ClientsViewModels" required type="text" />
            <span asp-validation-for="ClientsViewModels"></span>
            <label> Clients</label>
        </div>
        <div class="txt_field">
            <input asp-for="AccommodationDate" required type="text" />
            <span asp-validation-for="AccommodationDate"></span>
            <label > Accomodation Date</label>
        </div>
        <div class="txt_field">
            <input asp-for="LeaveDate" required type="text" />
            <span asp-validation-for="LeaveDate"></span>
            <label> Leave Date</label>
        </div>
        <div class="txt_field">


            <input class="form-check-input" asp-for="BreakfastIncluded" /> @Html.DisplayNameFor(model => model.BreakfastIncluded)
            <span></span>
        </div>
        <div class="txt_field">

            <input class="form-check-input" asp-for="AllInclusive" /> @Html.DisplayNameFor(model => model.AllInclusive)
            <span></span>
            <label></label>
        </div>
        <div>
            <input type="submit" value="Create" class="submit" />
            <span>
            </span>
        </div>

    </form>
    <div class="back_link">
        <a asp-action="Index">Back</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
