@page 
         <section class="home">
            <div class="center_signup">
                <h1>SignUp</h1>
                <form method="post">
                    <div class="txt_field">
                        <input type="text" required>
                        <span></span>
                        <label> Email</label>
                    </div>
                    <div class="txt_field">
                        <input type="text" required>
                        <span></span>
                        <label> Username</label>
                    </div>
                    <div class="txt_field">
                        <input type="password" required>
                            <span>  </span>
                        <label> Password</label>
                    </div>
                    <input type="submit" value="Login" class="submit">
                    <div class="icons">

                    </div>
                </form>
            </div>
        </section>